
.accordion {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 80%;
}

.accordion-item, .accordion-content {
    color: white;
    padding: 20px;
    background-color: rgba(64, 64, 65, 0.741);
}

.accordion-item {
    display: flex;
    height: 90px;
    border: 2px solid rgba(64, 64, 65, 0.741);
    margin-bottom: 1px;
}
.accordion-item:hover {
    background-color: rgba(142, 142, 146, 0.741);
    transition: 2s;
}

.accordion-title {
    margin: auto auto auto 0;
    font-size: 20px;
}

.icon {
   margin: auto 0 auto auto;
}


.accordion-content {
    text-align: justify;
    display: none;
}

