
.main-page {
    font-family: sans-serif;
    /* background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/d1532433-07b1-4e39-a920-0f08b81a489e/f7d146cf-e8ed-413b-9a14-bbfcc2c1625c/NG-en-20231120-popsignuptwoweeks-perspective_alpha_website_small.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 110vh;
    background-image: url(../assets/home.jpg);
    /* mask-image: linear-gradient(to right, rgb(77, 77, 178) 0%, rgb(197, 113, 197) 50%, red 100%); */
    filter: brightness(-1.5);
    border-bottom: 10px solid rgb(55, 53, 53);
    /* background: linear-gradient(to top, rgb(77, 77, 178) 0%, rgb(197, 113, 197, .001) 50%, red 100%); */
}
/* linear-gradient(to right, rgb(77, 77, 178) 0%, rgb(197, 113, 197) 50%, red 100%), */

.page-header {
    height: fit-content;
    display: flex;
    /* border: 2px solid red; */
}

.header-props {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: red;
}

.logo-frame {
    font-size: 30px;
    margin-right: auto;
}

#logo {
    font-weight: 1000;
    font-family: Serif, Georgia, 'Times New Roman', Times;

}

.sign-in {
    display: flex;
    margin-left: auto;
}

#signIn {
    background-color: red;
    border: 1px solid red;
    font-size: 12px;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600; 
}

.main-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
}

.email-to-start {
    width: fit-content;
}

input {
    width: 300px;
    padding: 20px;
    margin-right: 4px;
    margin-top: 4px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background-color: rgba(12, 12, 12, 0.872);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.get-started {
    width: fit-content;
    padding: 10px 25px;
    margin-left: 4px;
    margin-top: 4px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 545;
    border-radius: 5px;
    border: 1px solid red;
    transition: background-color 0.3s ease;
}

.get-started-text {
    padding-right: 10px;
}

@media (max-width: 767px) {
    /* Styles for small screens (smartphones) */
    .main-page {
      height: 80vh;
    }

    .main-page-content {
        padding: 0 40px;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-weight: 700;
    }
  }
  